body {
 background-color: rgb(245, 245, 231);
  }

.accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

li {

  font-size: 18px;

}

#aboutme-pic {

  width: 550px;
  height: 680px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 38px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 20px;

}


.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 350px;
    height: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; 
    margin-top: -60px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {
    width: 750px;
    height: 750px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  margin-top: -20px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  margin-bottom: 32px;
  text-align: center;
  padding-top: 95px;
  font-size: 73px;

}

#homepage-introduction-subtitle {

  
  color: rgb(9, 10, 10);
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  font-size: 55px;
  margin-bottom: 469px;
}



.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 790px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 13px;
  text-align: center;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 550px;
  height: 550px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}
  











@media only screen and (max-width: 600px){
  
  .accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

#aboutme-pic {

  width: 370px;
  height: 450px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 15px;

}

li{

  font-size: 16px;
}

.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 350px;
    height: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; 
    margin-top: -60px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {

    width: 380px;
    height: 390px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -35px;
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
 
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 97px;
  font-size: 35px;

}


#homepage-introduction-subtitle {

  
  color: rgb(9, 10, 10);
  margin-bottom: 32px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  font-size: 18px;
}



.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 287px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}


#first-title{

  font-size: 27px;
}

#second-title {

  font-size: 27px;

}

#third-title {

  font-size: 27px;

}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 10px;
  text-align: center;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 380px;
  height: 380px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}


}




@media only screen and (max-width: 768px) and (orientation: portrait) {

  .accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

#aboutme-pic {

  width: 350px;
  height: 450px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}


.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 350px;
    height: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; 
    margin-top: -60px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    border: solid black 1.5px;
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {

    width: 380px;
    height: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: 45px;
    
    
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -35px;
   
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
    margin-top: 90px;
 
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  margin-bottom: 32px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 95px;
  font-size: 30px;

}


#homepage-introduction-subtitle {
  margin-bottom: 102px;
  font-size: 20px;

}


.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 350px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 360px;
  height: 360px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}
  
}










 /* Tablets landscape  */


@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
 
  .accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

#aboutme-pic {

  width: 450px;
  height: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}


.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 350px;
    height: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin-top: 160px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {
    width: 750px;
    height: 750px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  margin-bottom: 1px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 95px;
  font-size: 50px;

}


#homepage-introduction-subtitle {

  color: rgb(9, 10, 10);
  margin-bottom: 250px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 95px;
  font-size: 30px;

}


.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 651px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 580px;
  height: 580px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}


}





/* Portrait desktop -DONE */

@media only screen and (min-width: 900px) and (max-width: 1366px) and (orientation: portrait) {


  .accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none; 
    text-align: center; 
    outline: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

#aboutme-pic {

  width: 650px;
  height: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}


.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 450px;
    height: 750px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -500px;
 

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; 
    margin-top: -60px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {
    width: 800px;
    height: 800px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  margin-bottom: 100px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 95px;
  font-size: 50px;

}


#homepage-introduction-subtitle {
  margin-bottom: 208px;

}



.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 561px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 750px;
  height: 750px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}


}







 /*iPhone SE */
@media only screen and (max-width: 375px) {


  .accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

#aboutme-pic {

  width: 350px;
  height: 480px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}


.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 350px;
    height: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; 
    margin-top: -60px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {

    width: 380px;
    height: 420px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -35px;
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
 
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  margin-bottom: 10px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 95px;
  font-size: 30px;

}



.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 335px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 330px;
  height: 330px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

 
}

}









  /* iPad mini Landscape */


  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
 
  }

  /* iPad mini portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
 
    


.accordion {
    background-color: #FFAFAF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1em solid rgb(10, 10, 10);
    border-bottom: 1em solid rgb(7, 7, 7);
    border-left: 1em solid rgb(10, 10, 10);
    border-right: 1em solid rgb(5, 5, 5);
    border-radius: 14px;
    margin-bottom: 30px;
      }

.accordion:hover {

  background-color: rgb(251, 255, 226);
  color:black;

}

#aboutme-pic {

  width: 500px;
  height: 680px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 60%;

}

#aboutme-text {

    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}


.plans .plan:not(:first-child) {
    display: none;
  }


.card.plan {
    position: relative;
    width: 350px;
    height: 550px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

  }
  

.select-plan {
    position: absolute;
    left: calc(50% + 270px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: #ffffff;
}


  
.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden; 
    margin-top: -60px;
}

.google-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(255, 255, 255);
    
  
  }

.google-form a {

    color: #e47070;
   
  }

#bibi {

    color: #e47070;
  }

#contact a {

    color: aliceblue;
}

#contact a :hover{

  color: #e47070;
}

.image-container {

    width: 680px;
    height: 680px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  
.slider {
    display: flex;
    height: 100%;
    width: calc(100% * 5);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    

  }
  
.slide {
    width: calc(100% / 5);
    height: 88%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  
.slider-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -35px;
  }
  
.slider-controls button {
    background-color: transparent;
    border: none;
    color: #111010;
    font-size: 2em;
    padding: 0 10px;
 
  }
  
.slider-controls button:focus {
    outline: none;
  }
  
.prev-slide {
    float: left;
  }
  
.next-slide {
    float: right;
  }
  

#homepage-introduction-title {

  color: rgb(9, 10, 10);
  margin-bottom: 10px;
  font-family: 'Pacifico', cursive;
  opacity: 100%;
  text-align: center;
  padding-top: 95px;
  font-size: 30px;

}



.homepage-introduction-bg {

   position:absolute;
   top: 0; 
   width: 100%; 
   height: 290px; 
   z-index: -1; 
   background-image: url('/static/img/template.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:fixed;
   opacity: 0.4;


}

#contact-footer a {

  color: rgb(248, 121, 121); 
}

#contact-footer a :hover { 

  color: rgb(15, 15, 15); 
}

.review-form {

  border: 1px solid rgba(0, 0, 0, 0.486);
  background-color: #ffffff65;
  margin-left: 500px;
  margin-right: 500px;


}

#send_review {
 
  margin-bottom: 30px; 
  background-color: rgb(255, 255, 255);


}

#send_review:hover {

  font-size: 17px;
  background-color: rgb(230, 188, 219);
}

footer {

  margin-bottom: 50px;
  margin-top: 50px;

}


hr {

  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.photo-clients {

  width: 530px;
  height: 530px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hidden {
  display: none;
}

#brand {
  background: rgb(255, 255, 255);
  background-clip: text;
  -webkit-background-clip: text; 
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  
}


#show-more-btn {

margin-left: auto;
margin-right: auto;
background-color: #ffffff;
display: flex;

}

#quote {

  font-family: serif;
  font-size: 1em;
  display: inline-block;
  transform: scaleX(1);
}

#quote2::before {
 
  display: inline-block;
  font-size: 1em;
  transform: scaleX(-1);
}

#photo-upload {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;





  }

  }







  @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: portrait) {



    .accordion {
      background-color: #FFAFAF;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 20px;
      font-weight: 600;
      transition: 0.4s;
      border-top: 1em solid rgb(10, 10, 10);
      border-bottom: 1em solid rgb(7, 7, 7);
      border-left: 1em solid rgb(10, 10, 10);
      border-right: 1em solid rgb(5, 5, 5);
      border-radius: 14px;
      margin-bottom: 30px;
        }
  
  .accordion:hover {
  
    background-color: rgb(251, 255, 226);
    color:black;
  
  }
  
  #aboutme-pic {
  
    width: 500px;
    height: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 60%;
  
  }
  
  #aboutme-text {
  
      display: inline-block;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      margin: 5px;
      margin-bottom: 60px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
  
  }
  
  
  .plans .plan:not(:first-child) {
      display: none;
    }
  
  
  .card.plan {
      position: relative;
      width: 500px;
      height: 750px;
      margin: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
    }
    
  
  .select-plan {
      position: absolute;
      left: calc(50% + 270px);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1;
      background-color: #ffffff;
  }
  
  
    
  .plans {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow-x: hidden; 
      margin-top: -60px;
  }
  
  .google-form {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 20px;
      margin-left: 60px;
      margin-right: 60px;
      background-color: rgb(255, 255, 255);
      
    
    }
  
  .google-form a {
  
      color: #e47070;
     
    }
  
  #bibi {
  
      color: #e47070;
    }
  
  #contact a {
  
      color: aliceblue;
  }
  
  #contact a :hover{
  
    color: #e47070;
  }
  
  .image-container {
  
      width: 700px;
      height: 700px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
     
    }
    
    
  .slider {
      display: flex;
      height: 100%;
      width: calc(100% * 5);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s ease-in-out;
      
  
    }
    
  .slide {
      width: calc(100% / 5);
      height: 88%;
      width: 80%;
      background-size: cover;
      background-position: center;
    }
    
  .slider-controls {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: -35px;
    }
    
  .slider-controls button {
      background-color: transparent;
      border: none;
      color: #111010;
      font-size: 2em;
      padding: 0 10px;
   
    }
    
  .slider-controls button:focus {
      outline: none;
    }
    
  .prev-slide {
      float: left;
    }
    
  .next-slide {
      float: right;
    }
    
  
  #homepage-introduction-title {
  
    color: rgb(9, 10, 10);
    margin-bottom: 32px;
    font-family: 'Pacifico', cursive;
    opacity: 100%;
    text-align: center;
    padding-top: 95px;
    font-size: 30px;
  
  }
  
  
  #homepage-introduction-subtitle {
    margin-bottom: 137px;
    font-size: 20px;
  
  }
  
  
  .homepage-introduction-bg {
  
     position:absolute;
     top: 0; 
     width: 100%; 
     height: 340px; 
     z-index: -1; 
     background-image: url('/static/img/template.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position:fixed;
     opacity: 0.4;
  
  
  }
  
  #contact-footer a {
  
    color: rgb(248, 121, 121); 
  }
  
  #contact-footer a :hover { 
  
    color: rgb(15, 15, 15); 
  }
  
  .review-form {
  
    border: 1px solid rgba(0, 0, 0, 0.486);
    background-color: #ffffff65;
    margin-left: 500px;
    margin-right: 500px;
  
  
  }
  
  #send_review {
   
    margin-bottom: 30px; 
    background-color: rgb(255, 255, 255);
  
  
  }
  
  #send_review:hover {
  
    font-size: 17px;
    background-color: rgb(230, 188, 219);
  }
  
  footer {
  
    margin-bottom: 50px;
    margin-top: 50px;
  
  }
  
  
  hr {
  
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .photo-clients {
  
    width: 760px;
    height: 760px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .hidden {
    display: none;
  }
  
  #brand {
    background: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text; 
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    
  }
  
  
  #show-more-btn {
  
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  display: flex;
  
  }
  
  #quote {
  
    font-family: serif;
    font-size: 1em;
    display: inline-block;
    transform: scaleX(1);
  }
  
  #quote2::before {
   
    display: inline-block;
    font-size: 1em;
    transform: scaleX(-1);
  }
  
  #photo-upload {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  
  }
 
  }


/* iphone 13 Landscape*/

  @media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (orientation: landscape) {


    .accordion {
      background-color: #FFAFAF;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 20px;
      font-weight: 600;
      transition: 0.4s;
      border-top: 1em solid rgb(10, 10, 10);
      border-bottom: 1em solid rgb(7, 7, 7);
      border-left: 1em solid rgb(10, 10, 10);
      border-right: 1em solid rgb(5, 5, 5);
      border-radius: 14px;
      margin-bottom: 30px;
        }
  
  .accordion:hover {
  
    background-color: rgb(251, 255, 226);
    color:black;
  
  }
  
  #aboutme-pic {
  
    width: 490px;
    height: 650px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 60%;
  
  }
  
  #aboutme-text {
  
      display: inline-block;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      margin: 5px;
      margin-bottom: 60px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
  
  }
  
  
  .plans .plan:not(:first-child) {
      display: none;
    }
  
  
  .card.plan {
      position: relative;
      width: 350px;
      height: 550px;
      margin: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
    }
    
  
  .select-plan {
      position: absolute;
      left: calc(50% + 270px);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1;
      background-color: #ffffff;
  }
  
  
    
  .plans {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 170vh;
      overflow-x: hidden; 
      margin-top: -60px;
  }
  
  .google-form {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 20px;
      margin-left: 60px;
      margin-right: 60px;
      background-color: rgb(255, 255, 255);
      
    
    }
  
  .google-form a {
  
      color: #e47070;
     
    }
  
  #bibi {
  
      color: #e47070;
    }
  
  #contact a {
  
      color: aliceblue;
  }
  
  #contact a :hover{
  
    color: #e47070;
  }
  
  .image-container {
      width: 750px;
      height: 750px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    
    
  .slider {
      display: flex;
      height: 100%;
      width: calc(100% * 5);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s ease-in-out;
      
  
    }
    
  .slide {
      width: calc(100% / 5);
      height: 88%;
      width: 80%;
      background-size: cover;
      background-position: center;
    }
    
  .slider-controls {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    
  .slider-controls button {
      background-color: transparent;
      border: none;
      color: #111010;
      font-size: 2em;
      padding: 0 10px;
    }
    
  .slider-controls button:focus {
      outline: none;
    }
    
  .prev-slide {
      float: left;
    }
    
  .next-slide {
      float: right;
    }
    
  
  #homepage-introduction-title {
  
    color: rgb(9, 10, 10);
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    opacity: 100%;
    text-align: center;
    padding-top: 95px;
    font-size: 50px;
  
  }
  
  
  .homepage-introduction-bg {
  
     position:absolute;
     top: 0; 
     width: 100%; 
     height: 651px; 
     z-index: -1; 
     background-image: url('/static/img/template.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position:fixed;
     opacity: 0.4;
  
  
  }
  
  #contact-footer a {
  
    color: rgb(248, 121, 121); 
  }
  
  #contact-footer a :hover { 
  
    color: rgb(15, 15, 15); 
  }
  
  .review-form {
  
    border: 1px solid rgba(0, 0, 0, 0.486);
    background-color: #ffffff65;
    margin-left: 500px;
    margin-right: 500px;
  
  
  }
  
  #send_review {
   
    margin-bottom: 30px; 
    background-color: rgb(255, 255, 255);
  
  
  }
  
  #send_review:hover {
  
    font-size: 17px;
    background-color: rgb(230, 188, 219);
  }
  
  footer {
  
    margin-bottom: 50px;
    margin-top: 50px;
  
  }
  
  
  hr {
  
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .photo-clients {
  
    width: 780px;
    height: 780px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .hidden {
    display: none;
  }
  
  #brand {
    background: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text; 
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    
  }
  
  
  #show-more-btn {
  
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  display: flex;
  
  }
  
  #quote {
  
    font-family: serif;
    font-size: 1em;
    display: inline-block;
    transform: scaleX(1);
  }
  
  #quote2::before {
   
    display: inline-block;
    font-size: 1em;
    transform: scaleX(-1);
  }
  
  #photo-upload {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  
  }




  }