<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>

<body>

  <style>

body {
  background-image: url('/static/img/pink-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
 }

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {

  border: solid 1px black;
  text-align: center;
  padding:20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.192);
}

  </style>



<div class="page-container">
  <div class="relative flex justify-center items-center h-screen">
    <div class="sm:flex sm:justify-center sm:items-center">
      <div class="login-page">
        <h2>Reset your password!</h2><br> 
        <form action="/process_request_password" method="POST">
            <br>
            <p>Type your new password below:</p>
            <div style="display: flex; flex-direction: column;">
              <input type="password" name="new-password" class="form-control" placeholder="Password" required style="margin-bottom: 10px; padding: 10px;">
              <input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password" required style="padding: 10px;">
            </div>
            <br>
            <button type="submit" class="main-button" id="send_email" name="reset-password" style="background-color: white;">Reset Password</button>
            <br>
          </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>