<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/icon.JPG" type="image/x-icon">
    <title>New Password</title>
</head>

<body>

  <style>

body {
  background-image: url('/static/img/pink-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
 }

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {

  border: solid 1px black;
  text-align: center;
  padding:20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.192);
}

  </style>


<div class="page-container">
  <div class="relative flex justify-center items-center h-screen">
    <div class="sm:flex sm:justify-center sm:items-center">
        <div class="coupon">
          <div class="container">
            <h3>DvAuto Coupon</h3>
          </div>
          <img src="static/img/logo-dvauto.JPG" alt="Avatar" style="width:100%;">
          <div class="container" style="background-color:white">
            <h2><b>$25 OFF IN YOUR SERVICE</b></h2>
            <p>Mention or present this coupon when scheduling your appointment for $25 off. <br>
              *excluding oil change services, AC Freon, and diagnostics.</p>
          </div>
          <div class="container">
            <p>Use Promo Code: <span class="promo">DvAutoWebsite-2023</span></p>
            <p class="expire">Expires: Jan 03, 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>